---
import './styles.css'

const navItems = [
  { href: '/', text: 'Inicio' },
  { href: '/articles/1', text: 'Artículos' },
  { href: '/tags', text: 'Tags' },
  { href: '/resources', text: 'Recursos' },
  { href: '/collaborators', text: 'Autores' },
  { href: '/aboutUs', text: 'Sobre nosotros' },
]
---

<label class='popup'>
  <input type='checkbox' />
  <div class='burger' tabindex='0'>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <nav class='popup-window'>
    <legend>Menu</legend>
    <ul>
      {
        navItems.map((item) => (
          <li>
            <a class='submenu-link' href={item.href}>
              {item.text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</label>
