---
import TagCard from '@components/TagCard.astro'
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'
// import { resources } from 'src/utils/resources'
import { resources as allResources } from 'src/utils/resources'
import { getAllTags } from 'src/utils/tags'

// const resources = await getCollection('resources', ({ data }) => !data.draft)
const articles = await getCollection('articles', ({ data }) => !data.draft)
const tags = getAllTags(
  allResources.map((resource) => ({
    ...resource,
    data: { ...resource, type: 'resource' as const },
    slug: resource.slug,
  })),
  articles
)
---

<Layout title='Tags | Share it' showBackButton>
  <h1 class='text-4xl font-bold text-center mb-8 text-white'>
    Explorar por Tags
  </h1>

  <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6'>
    {tags.map((tag) => <TagCard name={tag.name} count={tag.count} />)}
  </div>
</Layout>
