---
import Layout from '@layouts/Layout.astro'
import GithubIcon from '@icons/GithubIcon.astro'
import WhatsappIcon from '@icons/WhatsappIcon.astro'

const socialLinks = [
  {
    title: 'GitHub de la comunidad',
    description: 'Repositorio de la comunidad',
    url: 'https://github.com/eliasvelazquezdev/share-it-resources',
    icon: GithubIcon,
  },
  {
    title: 'WhatsApp de la comunidad',
    description: '칔nete a la comunidad',
    url: 'https://chat.whatsapp.com/LlbgQpQ7EB1Hy5Rq4WhJd6',
    icon: WhatsappIcon,
  },
]
---

<Layout title='Acerca de | Share It' showBackButton>
  <div class='max-w-4xl mx-auto'>
    <h1 class='text-4xl font-bold text-center mb-8 text-white'>
      Acerca de Nosotros
    </h1>
    <p class='text-lg text-gray-200 leading-relaxed mb-4'>
      <span class='font-bold text-[#83D6E7]'>Share</span>
      <span class='font-bold text-[#586ab1]'>IT</span>
      es una comunidad de WhatsApp que <span class='font-bold'
        >re칰ne a personas de toda 칤ndole y de habla hispana</span
      >, que forman parte o aspiran a formar parte de la industria IT. Somos una
      comunidad unida por el deseo de <span class='font-bold'
        >aprender, compartir conocimientos y crecer juntos</span
      > en el 치mbito tecnol칩gico. Nuestro prop칩sito es construir una red de apoyo
      que permita a sus integrantes progresar como profesionales de esta industria,
      siempre teniendo en cuenta que la colaboraci칩n mutua es el principal motor
      para un crecimiento sostenible. 游눩
    </p>
    <p class='text-lg text-gray-200 leading-relaxed font-bold'>
      칔nete a nosotros y s칠 parte de esta incre칤ble comunidad.游
    </p>
    <div class='flex sm:flex-row justify-center gap-4 flex-col mt-10'>
      {
        socialLinks.map((link) => (
          <a
            aria-label={link.title}
            rel='noopener noreferrer'
            target='_blank'
            href={link.url}
            class='flex items-center justify-center gap-2 bg-[#314aa9] hover:bg-[#2f3fca] text-white px-6 py-2 rounded-full w-full sm:w-auto font-semibold'
          >
            {link.description}
            <link.icon />
          </a>
        ))
      }
    </div>
  </div>
</Layout>
