---
import Layout from '../layouts/Layout.astro'
import { collaborators } from '../data/collaborators'
import CollaboratorCard from '../components/CollaboratorCard.astro'
---

<Layout title='Colaboradores | Mi Blog' showBackButton>
  <div class='max-w-4xl mx-auto'>
    <h1 class='text-4xl font-bold text-center mb-8 text-white'>
      Colaboradores
    </h1>

    <div class='grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8'>
      {
        collaborators.map((collaborator) => (
          <CollaboratorCard {...collaborator} />
        ))
      }
    </div>
  </div>
</Layout>
