---
const currentYear = new Date().getFullYear()
---

<footer class='bg-gray-800 py-8 mt-auto'>
  <div class='container mx-auto px-4 max-w-4xl'>
    <div class='flex flex-col md:flex-row justify-between items-center gap-4'>
      <div class='text-gray-400'>
        © {currentYear} Share it. Todos los derechos reservados.
      </div>
      <div class='flex gap-2'>
        <p>Una iniciativa de</p>
        <a
          href='https://linkedin.com/in/victorqui'
          class='text-gray-400 hover:text-[#83D6E7] font-bold'
        >
          Victor Quiñones 🚀
        </a>
      </div>
    </div>
  </div>
</footer>
