---
interface Props {
  title: string
  description: string
  size?: string
}

const { title, description, size } = Astro.props
---

<article
  class=`flex flex-col gap-2 h-auto card-share-it p-6 bg-gray-800 border rounded-lg border-[#368beb] hover:border-[#83D6E7] transition-colors ${size}`
>
  <p class='card-title text-lg font-bold text-[#368beb]'>{title}</p>
  <p class='text-gray-300 text-sm'>
    {description}
  </p>
</article>
