---
import ShareIt from '@icons/ShareIt.astro'

const navItems = [
  { href: '/', text: 'Inicio' },
  { href: '/articles', text: 'Artículos' },
  { href: '/resources', text: 'Recursos' },
  { href: '/tags', text: 'Tags' },
  { href: '/collaborators', text: 'Colaboradores' },
]
---

<header class='bg-gray-800 shadow-lg'>
  <nav
    class='container mx-auto px-4 max-w-4xl flex items-center justify-between'
  >
    <a href='/' class='text-xl font-bold text-violet-400 hover:text-violet-300'>
      <ShareIt class='w-8 h-8 inline-block' />
    </a>
    <ul class='flex gap-6'>
      {
        navItems.map((item) => (
          <li>
            <a
              href={item.href}
              class='text-gray-300 hover:text-violet-300 transition-colors'
            >
              {item.text}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
