---
import ShareIt from '@icons/ShareIt.astro'
import MobileMenu from './MobileMenu/MobileMenu.astro'

const navItems = [
  { href: '/', text: 'Inicio' },
  { href: '/articles/1', text: 'Artículos' },
  { href: '/tags', text: 'Tags' },
  { href: '/resources', text: 'Recursos' },
  { href: '/collaborators', text: 'Autores' },
  { href: '/aboutUs', text: 'Sobre nosotros' },
]
---

<header class='bg-gray-800 shadow-lg'>
  <nav
    class='container mx-auto px-4 max-w-4xl flex items-center justify-between'
  >
    <a href='/'>
      <ShareIt class='w-8 h-8 inline-block' />
    </a>
    <ul class='flex gap-6' id='menu'>
      {
        navItems.map((item) => (
          <li class='md:flex hidden'>
            <a
              href={item.href}
              class='text-gray-300 hover:text-[#83D6E7] transition-colors font-bold'
            >
              {item.text}
            </a>
          </li>
        ))
      }
    </ul>
    <MobileMenu />
  </nav>
</header>
