---
interface Props {
  name: string
  count: number
}

const { name, count } = Astro.props
---

<a
  href={`/tags/${name.toLowerCase()}`}
  class='block p-6 bg-gray-800 rounded-lg border border-gray-700 hover:border-violet-500 transition-colors'
>
  <h2 class='text-2xl font-bold text-violet-400 mb-2'>{name}</h2>
  <p class='text-gray-400'>
    {count} recurso{count !== 1 ? 's' : ''}
  </p>
</a>
