---
import Footer from '@components/Footer.astro'
import Header from '@components/Header.astro'
import { ClientRouter } from 'astro:transitions'

interface Props {
  title: string
  showBackButton?: boolean
}

const { title, showBackButton = false } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Un rincón para compartir los conocimientos y recursos que me han guiado y ayudado, tanto a mí como a otros desarrolladores, en nuestro recorrido'
    />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/share-it-icon.png' />
    <meta name='generator' content={Astro.generator} />
    <title>{title}</title>
    <ClientRouter />
  </head>
  <body class='bg-gray-900 min-h-screen flex flex-col'>
    <Header />
    <main class='flex-grow container mx-auto px-4 py-8 max-w-4xl'>
      {
        showBackButton && (
          <a
            href='javascript:history.back()'
            class='inline-flex items-center gap-2 text-[#83d6e7] hover:text-[#368beb] mb-6'
          >
            <svg
              xmlns='http://www.w3.org/2000/svg'
              class='h-5 w-5'
              viewBox='0 0 20 20'
              fill='currentColor'
            >
              <path
                fill-rule='evenodd'
                d='M9.707 16.707a1 1 0 01-1.414 0l-6-6a1 1 0 010-1.414l6-6a1 1 0 011.414 1.414L5.414 9H17a1 1 0 110 2H5.414l4.293 4.293a1 1 0 010 1.414z'
                clip-rule='evenodd'
              />
            </svg>
            Volver
          </a>
        )
      }
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background: #13151a;
    color: #ffffff;
  }
  code {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #ffffff;
  }
  p {
    color: #e5e7eb;
  }
  a {
    color: #a78bfa;
  }
  a:hover {
    color: #e5e7eb;
  }
  b,
  strong {
    color: #b5bafd;
  }

  /* Estilos para el contenido markdown */

  .prose h2 {
    @apply text-2xl font-bold mt-8 mb-4 text-[#8b96fa];
  }
  .prose h3 {
    @apply text-xl font-semibold mt-6 mb-3 text-[#83D6E7];
  }
  .prose p {
    @apply mb-4 leading-relaxed text-gray-300;
  }
  .prose ul {
    @apply list-disc list-inside mb-4 text-gray-300;
  }
  .prose ol {
    @apply list-decimal list-inside mb-4 text-gray-300 pr-4;
  }
  .prose code {
    @apply px-2 py-1 rounded text-gray-200;
  }
  .prose pre {
    @apply bg-gray-700 p-4 rounded-lg mb-4 overflow-x-auto text-gray-200;
  }
  .prose blockquote {
    @apply border-l-4 border-violet-400 pl-4 italic text-gray-400;
  }
  .prose hr {
    @apply border-t border-gray-700 my-4;
  }
</style>
